<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <display-name>SupCommerce</display-name>
  <welcome-file-list>
    <welcome-file>login</welcome-file> 
  </welcome-file-list>
  
  <filter>
    <filter-name>AuthenticateFilter</filter-name>
    <filter-class>fr.imie.crowdfunding.servlet.AuthenticateFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AuthenticateFilter</filter-name>
    <url-pattern>/auth/*</url-pattern>
  </filter-mapping>
</web-app>